page-tracking {

    .card-header{
        color: #fff;
        padding: 0px;;
    }
    .card-content {
        padding: 1px; 
    }

    .item-md-primary, .item-divider-md-primary{
        background: lightgray;
    }

    .icon-md-light{
        color: gray;
    }
   
    // .list-md{
    //     margin: 0px;
    // }

}
