page-displaymachinedetails {
    .toolbar-background-md {
        background:  #023573;
    }
    .toolbar-title-md{
        color: white;
    }
    .ClsLable{
        font-weight: bold;
    }
    .ClsAlign{
        padding:9px;
        // border: 1px solid lightgray
    }
}
