<ion-header>
  <ion-toolbar>
    <ion-title text-center>{{this.global.HeaderTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-card style="padding:12px;padding-bottom: 0;"> -->
      <ion-grid style="padding:15px !important;margin-bottom:10px">
        <!-- <ion-row>
          <ion-col col-6>
            <label Class="ClsLblTxt">Machine Shifted<span style="color:red" *ngIf="IsMandatory">&nbsp;*</span></label>
            <ion-item style="border: none !important;padding-top: 5px;width:95%;">
              <ion-datetime [(ngModel)]="MachineShiftedDate" [disabled]="IsDisabled" (ionChange)="ShiftedDateChange()" placeholder="Date"
                style="margin-top:-18px;border-bottom: 1px solid #dedede !important;width:100%;" no-padding min="2023" max="2023" displayFormat="DD MMM YYYY">
              </ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <label>&nbsp;</label>
            <ion-item style="border: none !important;padding-top: 5px;width:95%;">
              <ion-datetime [(ngModel)]="MachineShiftedTime" [disabled]="IsDisabled" (ionChange)="MachineShiftedTimeChange()" placeholder="Time"
                style="margin-top:-18px;border-bottom: 1px solid #dedede !important;width:100%;" no-padding min="00:01" displayFormat="HH:mm">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <label Class="ClsLblTxt">Site Address<span style="color:red">&nbsp;*</span></label>
          <ion-item style="border: none !important;padding-top: 5px;width:95%;">
            <ion-input type="text" [(ngModel)]="SiteAddress"
              style="font-size: 14px; margin-top:-28px;border-bottom: 1px solid #dedede !important;width: -moz-available;max-width: 100%;">
            </ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <label Class="ClsLblTxt">Location<span style="color:red">&nbsp;*</span></label>
          <ion-item style="border: none !important;padding-top: 5px;width:95%;">
            <ion-input type="text" [(ngModel)]="Location"
              style="font-size: 14px; margin-top:-28px;border-bottom: 1px solid #dedede !important;width: -moz-available;max-width: 100%;">
            </ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <label Class="ClsLblTxt">State<span style="color:red">&nbsp;*</span></label>
          <ion-item>
            <ion-label>State</ion-label>
            <ion-select label="Status" placeholder="Select" [(ngModel)]="SelectedState"
            (ionChange)="StateChange(SelectedState)"
              style="margin-top:-30px;margin-left:-7px;padding:0px !important;border-bottom: 1px solid #dedede !important;width:100%;max-width: 108%;">
              <ion-option *ngFor="let sl of StateList" value="{{sl.State_ID}}">{{sl.State_Name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <label Class="ClsLblTxt">Country</label>
            <ion-item style="border: none !important;padding-top: 5px;width:95%;">
              <ion-input type="text" [disabled]="true" [(ngModel)]="Country"
                style="font-size: 14px; margin-top:-28px;border-bottom: 1px solid #dedede !important;width: -moz-available;max-width: 100%;">
              </ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <label Class="ClsLblTxt">Region</label>
          <ion-item style="border: none !important;padding-top: 5px;width:95%;">
            <ion-input type="text" [disabled]="true" [(ngModel)]="Region"
              style="font-size: 14px; margin-top:-28px;border-bottom: 1px solid #dedede !important;width: -moz-available;max-width: 100%;">
            </ion-input>
        </ion-item>
        </ion-row>
        <ion-row style="margin-bottom: 5px;">
          <ion-col col-10>
            <label class="ClsLabelTxt" style="font-weight: 500;color:#B2BEB5;padding-left:18px">Is Current Site?</label>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-checkbox color="dark" checked="IsAddressActive" style="margin-top:-18px" (ionChange)="CheckboxChange($event)" [(ngModel)]="IsAddressActive"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </ion-card> -->
  </ion-list>
</ion-content>


<ion-footer style="background:  #023573;">
  <ion-grid style="position:absolute;bottom: 0;left: 0;">
    <ion-row>
      <ion-col col-6 style="border-right: 3px solid #fff;padding:0 !important">
        <ion-toolbar (click)="BackToPage()">
          <ion-title>Close</ion-title>
        </ion-toolbar>
      </ion-col>
      <ion-col col-6 style="padding:0 !important">
        <ion-toolbar (click)="Save()">
          <ion-title>Save</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>