page-products {

    .toolbar-background-md {
        background:  #023573;
    }
    .toolbar-title-md{
        color: white;
    }

    .searchbar-md{
        background: lightgray;
    }

    .list-md .item-block .item-inner{
        border: 0px;
    }

}
